.container-messages {
    margin: 4rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;

  .card-message {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;

    span { font-weight: bold; }

    .card-buttons {
      display: flex;
      justify-content: space-between;
      gap: 1rem;
    }
  }
}