.profil-navbar {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
  border-bottom: 1px solid var(--text);
}

.profil-actions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  max-width: 480px;
  margin: 4rem auto 0 auto;
}
.solde {
    font-size: 2rem;
    font-weight: bold;

}
@media screen and (min-width: 768px) {
  .profil-actions {
    flex-direction: row;
  }

}
@media screen and (min-width: 400px) {
  .profil-navbar {
    flex-direction: row;
  }

}