.header {
  font-family: LucioleRegular;
  box-shadow: 0 2px 4px var(--borders);
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .logo {
    font-family: Jomhuria;
    color: var(--text);
    text-decoration: none;
    font-size: 4rem;

  }
  .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
  }

  .burger { display: block; }

  .navlink { display: none; }

  .btn { padding: 10px 12px; }
}


@media screen and (min-width: 600px) {

  .header {
    .burger { display: none; }
    .navlink { display: inline; }
  }
}
