.menu-burger {
  color: whitesmoke;
  background-color: rgba(0, 0, 0, .7);
  backdrop-filter: blur(2px);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  animation: .5s slideInMenu forwards ease-in-out;

  .navlink {
    color: whitesmoke !important;
    font-size: 5rem !important;

    &:hover {
      border-color: whitesmoke !important;
    }
  }
  svg {
    align-self: end;
    margin: 4rem 4rem 0 0;
    cursor: pointer;
  }
}


@keyframes slideInMenu {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }

}

@media screen and (max-width: 500px){
  .menu-burger {
    display: flex;
  }
}