
@import 'colors-theme.scss';
@import 'fonts';
@import 'header';
@import 'menu-burger';
@import 'profil-layout';
@import 'profil-navbar';
@import 'components';
@import 'auth-form';
@import 'toaster';
@import 'scrollbar';
@import 'spinner';
@import 'footer';

html { font-size: 62.5%; }
html, body, * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter';
    font-weight: 400;
    background-color: var(--background);
    color: var(--text);
}

h1, h2, h3, h4, h5 { font-weight: 700; }

h1 {
    text-align: center;
    font-size: 6.7rem;
    margin: 4rem 0;
}

h2 {font-size: 5rem;}

h3 {font-size: 3.7rem;}

p {font-size: 1.8rem;}



@media screen and (max-width: 768px) {
    html { font-size: 50%; }
    h1 { font-size: 3.7rem; }
}