
@import 'utils/colors-theme.scss';
@import 'utils/mixins';
@import 'utils/functions';
@import 'utils/fonts';
@import 'header/header';
@import 'header/menu-burger';
@import 'profil/profil-layout';
@import 'utils/components';
@import 'profil/auth-form';
@import 'utils/toaster';
@import 'utils/scrollbar';
@import 'utils/spinner';
@import 'profil/delete-user-modal';
@import 'footer/footer';

html { font-size: 50%; }
html, body, * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Inter';
    font-weight: 400;
    background-color: var(--background);
    color: var(--text);
}
.main {
    min-height: 79vh;
}

h1, h2, h3, h4, h5 { font-weight: 700; }

h1 {
    font-size: 3.7rem;
    text-align: center;
    margin: 4rem 0;
}

h2 {font-size: 5rem;}

h3 {font-size: 3.7rem;}

p {font-size: 1.8rem;}



@media screen and (min-width: 768px) {
    html { font-size: 62.5%; }
    h1 { font-size: 6.7rem; }
}