.form {
  max-width: 480px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0 1rem;

  .label {
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: .8rem;
    text-align: left;
    margin-top: 2rem;
  }
  .input {
    text-align: center;
    padding: 1rem;
    border-radius: .5rem;
    font-size: 1.5rem;
  }
  span {
    text-align: right;
    font-size: 1.2rem;
    margin: .5rem 0 0 0;
  }

  .radios {
    margin: 2rem 0;

    #login { margin-right: 3rem; }

    label {
      font-size: 1.6rem;
      font-weight: 500;
      margin-right: .5rem;
    }
  }
  .btn { margin-top: 2rem; }
}


@media screen and (min-width: 500px) {
  .auth-form { padding: 0; }
}