.send-message-modal {
  position: fixed;
  inset: 0;
  background-color: var(--borders);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;


  form {
    display: flex;
    flex-direction: column;
    padding: 2rem 4rem;
    background-color: var(--background);
    width: 90%;
    max-width: 500px;
  }

  label { margin-top: 2rem; }
  input, textarea {
    padding: 1rem;
    margin: 1rem 0;
    border: 1px solid var(--borders);
    border-radius: 5px;
  }
  textarea { height: 100px; }

  svg {
    align-self: flex-end;
    width: 20px;
    height: 20px;
    margin-right: -2rem;
    cursor: pointer;
  }
}