@import url('https://fonts.googleapis.com/css?family=Inter:700|Inter:400');

@import url('https://fonts.googleapis.com/css?family=Jomhuria:700|Jomhuria:400');

@font-face {
    font-family: 'LucioleRegular';
    src: url('../../../public/Luciole-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
};